[Unit]
Description=Enable Wake-on-LAN on enp7s0
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/ethtool -s enp7s0 wol g
ExecStop=/usr/bin/ethtool -s enp7s0 wol g

[Install]
WantedBy=multi-user.target
