[user]
    name = {{user.name}}
    email = {{user.email}}
[init]
    defaultBranch = main
[push]
    autoSetupRemote = true
[pull]
    rebase = true
[core]
    editor = nvim
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    light = false
    side-by-side = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
