**/fishd.tmp*
fish_variables
shell/fish/**/secret
shell/fish/completions/
shell/fish/conf.d/
shell/fish/fish_variables
shell/fish/functions/
shell/fish/user/env/env.s.fish

.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

**/__pycache__
**/build
**/dist
**/secrets
**/venv
**/zsh/**/*.zwc*
**/zsh/.zcompdump*
**/zsh/.zinit/
**/zsh/.zsh_history
**/zsh/.zsh_sessions
