[submodule "nvim"]
	path = nvim
	url = git@github.com:josh-allan/nvim.git
    url = main
[submodule "dot_home/ai-tools"]
	path = dot_home/ai-tools
	url = git@github.com:josh-allan/ai-tools.git
    branch = main

