[Unit]
Description=Keyboard Daemon
After=displaymanager.service
StartLimitIntervalSec=0
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/env python /usr/bin/keyd
Restart=always
RestartSec=1

[Install]
Alias=keyd.service
WantedBy=multi-user.target
